<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/style.css" />
		<link href='http://fonts.googleapis.com/css?family=Sniglet:800' rel='stylesheet' type='text/css'>
		<title>Home</title>
	</head>

	<body>
		<header>
			<h1>Zara Peisker</h1>
		</header>
		<div id="content">
			<div class="item text other">About</div>
			<div class="item pic this"><img src="/images/Athlete10copy.jpg"></div>
			<div class="item icon that"><a href="www.linkedin.com/pub/zara-peisker/51/b43/604/"><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRwuAE6Pt_m8EnMc7GLgf-wE0yZHGio7uiFreZcZWI0iHI4btIN"></a></div>
			<div class="item icon that"><a href="https://twitter.com/zarapeisker"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTdPkmEmar2OBdnauknNHDqtdNU8FAlkkVjrMEOgUHxHRYkvGsr"></a></div>
			<div class="item text this">
    			<span>Portfolio</span>
    			<span class="shh">
    				<a href="http://pinterest.com/brandcollectiv/cool-design-projects/">1  </a>
    				<a href="http://pinterest.com/brandcollectiv/cool-design-projects/">2  </a>
    				<a href="http://pinterest.com/brandcollectiv/cool-design-projects/">3  </a>
    				<a href="http://pinterest.com/brandcollectiv/cool-design-projects/">4  </a>
    			</span>
			</div>
			<div class="item pic that"><img src="images/Athlete7copy.jpg"></div>
			<div class="item pic other"><img src="images/Athlete9copy.jpg"></div>
			<div class="item icon this"><a href="https://www.facebook.com/zarapeisker"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTcMshVq2mMn_xg38yJm7T7t52u9ORTr2SuZDaZZNlj4Kkn_fZR7Q"></a></div>
			<div class="item icon that"><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRaaU3SjNlmOEIt_qrMzyHVJ5NgsAGQfo0wsxRExDdd5TZKbfed"></div>
		</div>
	</body>

